/* Скрываем стандартные элементы редактора для профилей */
.post-type-plintus_pjs .wp-block {
    display: none;
}

.post-type-plintus_pjs #postdivrich {
    display: none;
}

.post-type-plintus_pjs #plintus-profile-editor-paperjs-root {
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
    width: 100%;
    position: relative;
}

.plintus-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}

.plintus-editor-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.plintus-editor-canvas-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

